<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body  data-ng-app="app" ng-controller="MainCtrl" bgcolor="#fff5ee" background="city.jpeg">
<script src="No%20Water.js"> </script>
<div class="container-fluid text-center" >
    <br>
    <br>
    <br>
            <h1 align="center">Floods or No Water Problems </h1>
    <br>

    <div ng-app="app" ng-controller="MainCtrl">

        <h1>Zipcode:</h1>
        <select ng-model="zipcode">
            <option ng-repeat="x in kcvalue" value="{{x.count_case_id}}">{{x.zip_code}}</option>
        </select>

        <h1>No of Requests received:{{zipcode}}</h1>

        <div class="container-fluid text-center" >
            <script src="No%20Water.js"></script>
            <div class="container-fluid text center">
                <div></div>
                <div id="curve_chart" style="width: 700px; height: 400px;margin-left: 25%"></div>
            </div>

        </div>

    </div>


</div>
</body>
</html>